body {
    background-color: rgb(46, 45, 45);
    
}

h1 {
    color: red;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

button {
    align-self: center;
    padding: 10px 20px;
    border-radius: 64px;
}

.board {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
    align-self: center;
}

.row {
    display: flex;
    
    background-color: white;
    border: solid black 1px;
    align-items: stretch;
    justify-content: space-evenly;
    flex: 1;
    
    
}

.col {
    background-color: rgb(194, 194, 194);
    flex-grow: 1;
}